<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide>
      <figure text-center>
        <img src="assets/img/virus.png" text-center padding/>
      </figure>
      <h1>Covid</h1>
      <p>Visualiza cuantos casos de covid hay en el mundo con datos actualizados mientras escuchas a lofi hip-hop de fondo.</p>
    </ion-slide>

    <ion-slide>
      <figure text-center>
        <img src="assets/img/audio.png" text-center padding/>
      </figure>
      <h1>Música</h1>
      <p>La música pretende aislarte y hacerte olvidar que el mundo está en medio de una situación de película.</p>
      <ion-icon name="close" (click)="finish()"></ion-icon>
    </ion-slide>

  </ion-slides>
</ion-content>